<div class="row offset2 span6 alert alert-success">
Well done! Your tasks was added!
</div>
<div class="row offset2 control-group span6">
	<div class="progress progress-striped progress-success">
	<div class="bar"   style="width: 100%;"></div>
	</div>
</div>

<div class="row offset2 span6">
 <%= link_to "Home Page", root_path %>
</div>