<div class="row">
	<div class="span4">
		<!-- <%= link_to "Create New Task", new_task_path %> -->
	</div>
</div>
<div class="row">
	<div class="span4">
		<%= link_to "Create New Task using Wizard", multi_task_type_path %>
	</div>
</div>

<table class="table">
	<thead>
  <tr>
    <th>Title</th>
    <th>Due At</th>
  <tr>
    </thead>
  <% @tasks.each do |task| %>
    <tr>
      <td><%= link_to task.title, task %></td>
      <td><%= task.due_at.strftime("%m/%d/%Y %H:%M") %></td>
    </tr>
  <% end %>
</table>